In [5]:
import pandas as pd 
import numpy as np
info=pd.DataFrame([[3,9]]*4,columns=['S','R'])
print("\nOriginal Dataframe:\n",info)
print("\nSquare root:\n",info.apply(np.sqrt))
print("\nSum of each column:\n",info.apply(np.sum,axis=0))
print("\nSum of each row:\n",info.apply(np.sum,axis=1))

Original Dataframe:
    S  R
0  3  9
1  3  9
2  3  9
3  3  9

Square root:
           S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

Sum of each column:
 S    12
R    36
dtype: int64

Sum of each row:
 0    12
1    12
2    12
3    12
dtype: int64

In [6]:
import pandas as pd 
import numpy as np
info=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]],columns=['X','Y','Z'])
print(info)
print(info.agg(['min','max']))

   X  Y  Z
0  2  4  6
1  1  3  5
2  5  8  7
     X  Y  Z
min  1  3  5
max  5  8  7

In [11]:
import pandas as pd 
import numpy as np
josh=pd.DataFrame([['sai',88],['pooja',70]],columns=['EmpName','ID'])
print(josh)
info=josh.assign(Age=[20,18])
print("Adding a new column:\n",info)
josh['Sex']=['male','male']
print("Adding a new column:\n",josh)

  EmpName  ID
0     sai  88
1   pooja  70
Adding a new column:
   EmpName  ID  Age
0     sai  88   20
1   pooja  70   18
Adding a new column:
   EmpName  ID   Sex
0     sai  88  male
1   pooja  70  male

In [2]:
import pandas as pd
import numpy as np
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col3','col4'])
print(info)
info2=info.sort_index()
print(info2)
info3=info.sort_values(by='col3')
print(info3)

       col3      col4
3  1.097004  0.288831
2  0.915211 -0.032504
0  0.599824  0.035994
4  0.674965 -0.213927
1  0.961055 -0.438558
       col3      col4
0  0.599824  0.035994
1  0.961055 -0.438558
2  0.915211 -0.032504
3  1.097004  0.288831
4  0.674965 -0.213927
       col3      col4
0  0.599824  0.035994
4  0.674965 -0.213927
2  0.915211 -0.032504
1  0.961055 -0.438558
3  1.097004  0.288831

In [4]:
import pandas as pd
import numpy as np
left=pd.DataFrame({'id':[1,2,3,4],'Name':['sai','pooja','saba','yuvi'],'sub':['sub1','sub2','sub4','sub3']})
right=pd.DataFrame({'id':[1,2,3,4],'Name':['sanjay','saran','som','ruba'],'sub':['sub2','sub4','sub3','sub1']})
print(left)
print(right)
print(pd.merge(left,right,on="id"))

   id   Name   sub
0   1    sai  sub1
1   2  pooja  sub2
2   3   saba  sub4
3   4   yuvi  sub3
   id    Name   sub
0   1  sanjay  sub2
1   2   saran  sub4
2   3     som  sub3
3   4    ruba  sub1
   id Name_x sub_x  Name_y sub_y
0   1    sai  sub1  sanjay  sub2
1   2  pooja  sub2   saran  sub4
2   3   saba  sub4     som  sub3
3   4   yuvi  sub3    ruba  sub1