In [2]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [17]:
import pandas as pd 
emp=pd.Series(['uma','siva','sindhu','ravi'])
id=pd.Series([10,20,30,40])
frame={'Emp':emp,'ID':id}
result=pd.DataFrame(frame)
print("\nSeries to DataFrame\n")
print(result)
print("\nExtractingOneColumn\n")
print(result['Emp'])
print()
result['Age']=pd.Series([20,25,30,50])
print(result)
print()
del result['ID']
print(result)
print()
print("\nExtracting the second row:\n")
print(result.loc[1])
print()
print('Slice rows;\n',result[1:3])

Series to DataFrame

      Emp  ID
0     uma  10
1    siva  20
2  sindhu  30
3    ravi  40

ExtractingOneColumn

0       uma
1      siva
2    sindhu
3      ravi
Name: Emp, dtype: object

      Emp  ID  Age
0     uma  10   20
1    siva  20   25
2  sindhu  30   30
3    ravi  40   50

      Emp  Age
0     uma   20
1    siva   25
2  sindhu   30
3    ravi   50


Extracting the second row:

Emp    siva
Age      25
Name: 1, dtype: object

Slice rows;
       Emp  Age
1    siva   25
2  sindhu   30

In [24]:
d2=pd.DataFrame([['anu',20],['jinu',19]],columns=['Emp','Age'])
print("\nAdding new row values:\n",pd.concat([result,d2]))

Adding new row values:
       Emp  Age
0     uma   20
1    siva   25
2  sindhu   30
3    ravi   50
0     anu   20
1    jinu   19

In [25]:
print(result.drop(2))

    Emp  Age
0   uma   20
1  siva   25
3  ravi   50