In [7]:
import pandas as pd 
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],index=['one','two','three'],columns=['a','b','c'])
print(df)

       a  b  c
one    1  2  3
two    4  5  6
three  7  8  9

In [9]:
df.to_excel("/Users/student/Downloads/230901041-simon.xlsx")
df.to_excel("/Users/student/Downloads/230901041-joshua.xlsx")

In [11]:
df=pd.DataFrame([[10,20,30],[40,50,60],[70,80,90]],index=['four','five','six'],columns=['X','Y','Z'])
df.to_excel("/Users/student/Downloads/230901041-simon.xlsx",sheet_name="sheet1")

In [13]:
df=pd.DataFrame([[6,7],[1,2]],index=['a','b'],columns=['X','Y'])
df.to_excel("/Users/student/Downloads/230901041-joshua.xlsx",sheet_name="sheet1")

In [15]:
import pandas as pd 
X=pd.read_excel("/Users/student/Downloads/230901041-simon.xlsx")
Y=pd.read_excel("/Users/student/Downloads/230901041-joshua.xlsx")
Z=X.append(Y)
Z.to_excel("/Users/student/Downloads/230901041-motha.xlsx")

/var/folders/8b/jn2fbgkx0fs3qmvnb8qh1gww0000gp/T/ipykernel_4538/708163484.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Z=X.append(Y)

In [17]:
df=Z.sort_values(["X"])
print(df)
df.to_excel("/Users/student/Downloads/230901041-motha.xlsx")

  Unnamed: 0   X   Y     Z
1          b   1   2   NaN
0          a   6   7   NaN
0       four  10  20  30.0
1       five  40  50  60.0
2        six  70  80  90.0

In [19]:
df=Z.sort_values(["Y"])
print(df)
df.to_excel("/Users/student/Downloads/230901041-motha.xlsx")

  Unnamed: 0   X   Y     Z
1          b   1   2   NaN
0          a   6   7   NaN
0       four  10  20  30.0
1       five  40  50  60.0
2        six  70  80  90.0

In [41]:
df=pd.read_excel("/Users/student/Downloads/230901041-simon.xlsx")
print(df)
print(list(df)) #Print the column names as list
print(format(len(df)))

  Unnamed: 0   X   Y   Z
0       four  10  20  30
1       five  40  50  60
2        six  70  80  90
['Unnamed: 0', 'X', 'Y', 'Z']
3