In [2]:
#dataframe joining
import pandas as pd
d1={"Name":["Sai","Sabari","Sankar"],"Age":[20,21,22]}
d2={"qualified":[True,True,False]}
df1=pd.DataFrame(d1)
print(df1)
df2=pd.DataFrame(d2)
print(df2)
new=df1.join(df2)
print(new)

     Name  Age
0     Sai   20
1  Sabari   21
2  Sankar   22
   qualified
0       True
1       True
2      False
     Name  Age  qualified
0     Sai   20       True
1  Sabari   21       True
2  Sankar   22      False

In [4]:
#dataframe merging
d1={"Name":["Sai","Sabari","Sankar"],"Age":[20,21,22]}
d2={"Name":["Gopal","Ram","Raja"],"Age":[20,21,22]}
df1=pd.DataFrame(d1)
print(df1)
df2=pd.DataFrame(d2)
print(df2)
n1=(df1.merge(df2,on="Age"))
print(n1)

     Name  Age
0     Sai   20
1  Sabari   21
2  Sankar   22
    Name  Age
0  Gopal   20
1    Ram   21
2   Raja   22
   Name_x  Age Name_y
0     Sai   20  Gopal
1  Sabari   21    Ram
2  Sankar   22   Raja

In [6]:
#dataframe combining
df=pd.DataFrame({'team':['A','B','C','D'],'points':[90,56,78,88],'assists':['12','34','23','44'],'rebounds':['56','43','55','12']})
print(df)
df=pd.melt(df,id_vars="team",value_vars=["points","assists","rebounds"])
print(df)

  team  points assists rebounds
0    A      90      12       56
1    B      56      34       43
2    C      78      23       55
3    D      88      44       12
   team  variable value
0     A    points    90
1     B    points    56
2     C    points    78
3     D    points    88
4     A   assists    12
5     B   assists    34
6     C   assists    23
7     D   assists    44
8     A  rebounds    56
9     B  rebounds    43
10    C  rebounds    55
11    D  rebounds    12